@{
    ViewData["Title"] = "Age Groups";
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h2>Age Groups</h2>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>

    @await Html.PartialAsync("_DataTable")
</div>
